/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color: #160d18;
  color: white;
  font-family: 'Secular One', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.root{
  display: flex;
  flex-direction: column;
}

/*Header*/
header{
  background-color: #09456c;
  padding: 2.5rem;
  text-align: center;
}

h1{
  margin-top: 6px;
  margin-right: 10px;
}

.search{
  font-family: inherit;
  font-size: 1.5rem;
  border: 2px solid #160d18;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  padding: 0.5rem 1.5rem;
}

.search:focus {
  outline: 0;
}
/*Fim do Header*/

/*Movie container*/
.movie-container{
 display: flex;
 flex-wrap: wrap; 
 justify-content: center;
}

.movie{
  background-color: #09456c;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
}

/*Imagens*/
.movie img{
  height: 450px;
  object-fit: cover;
  width: 100%;
}

/*Info (Título e nota)*/
.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

/*Título*/
.movie-info h3{
  margin: 0;
  font-weight: inherit;
}

/*Overview*/
.movie-overview{
  background-color: white;
  color: black;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.overview{
  padding: 0 1rem;
}

.movie:hover .movie-overview{
  transform: translateY(0);
}
/*Fim do overview*/

/*Tipo de mídia*/
.media-type{
  background-color: #09456c;
  color: white;
  font-size: 20px;
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}

/*Notas do filme*/
.tag{
  background-color: #160d18;
  padding: 0.5rem;
  border-radius: 5px;
}

.tag.green{
  color: green;
}

.tag.orange{
  color: orange;
}

.tag.red{
  color: red;
}

/*Button Icons*/
.icons{
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.button-icon{
  cursor: pointer;
  margin: 1rem 1.3rem;
  font-size: 1.3rem;
  background-color: #09456c;
  padding: 0.7rem;
  color: white;
  border-radius: 3px;
}

/*Footer*/
footer{
  padding: 1.5rem;
  text-align: center;
}

footer span{
  color: #09456c;
}